

<div class="FAQ container block">
    <h3 class="faq__heading">Frequently Asked Questions</h3>
    <div class="card collapsible collapsible--expanded">
       <header class="faq__header">
           <h3 class="faq__sub-heading">
            Lorem ipsum dolor sit amet consectetur. Leo at sit eu libero?
           </h3>
           <img src="./images/chevron +.png" class="icon collapsible__chevron">
       </header>
       <div class="collapsible__content">
           <p class="faq__paragraph">Lorem ipsum dolor sit amet consectetur. Faucibus commodo suscipit id ipsum. Elementum ultrices nulla faucibus odio est sed aliquam. Sapien massa morbi risus sagittis tortor integer.</p>
        </div>
    </div>

    <div class="card collapsible collapsible--expanded">
        <header class="faq__header">
            <h3 class="faq__sub-heading">
                Lorem ipsum dolor sit amet consectetur. Tortor scelerisque integer?
            </h3>
            <img src="./images/chevron +.png" class="icon collapsible__chevron">
        </header>
        <div class="collapsible__content">
            <p class="faq__paragraph">Lorem ipsum dolor sit amet consectetur. Faucibus commodo suscipit id ipsum. Elementum ultrices nulla faucibus odio est sed aliquam. Sapien massa morbi risus sagittis tortor integer.</p>
         </div>
     </div>

     <div class="card collapsible collapsible--expanded">
        <header class="faq__header">
            <h3 class="faq__sub-heading">
                Lorem ipsum dolor sit amet consectetur. Faucibus scelerisque nunc?
            </h3>
            <img src="./images/chevron +.png" class="icon collapsible__chevron">
        </header>
        <div class="collapsible__content">
            <p class="faq__paragraph">Lorem ipsum dolor sit amet consectetur. Faucibus commodo suscipit id ipsum. Elementum ultrices nulla faucibus odio est sed aliquam. Sapien massa morbi risus sagittis tortor integer.</p>
         </div>
     </div>
</div>