<section class="block container">
    <article class="grid grid--1x2 feature">
        <picture>
            <img class="feature__image" src="./images/image 2.png" alt="" />
        </picture>
        <div class="feature__content">
            <h2 class="feature__heading">Web & Mobile App Development</h2>
            <p class="feature__paragraph">
                Your web and mobile Apps are pieces of the puzzle to grow your business. We use frameworks which tailor content and 
                engagement methods to respond to different intents shown by your potential customers who interact with your business online.
            </p>
            <a href="#" class="btn btn--secondary btn__feature">
                Learn More
            </a>
        </div>
    </article>

    <article class="grid grid--1x2 feature">
        <picture>
            <img class="feature__image" src="./images/image 1.png" alt="" />
        </picture>
        <div class="feature__content">
            <h2 class="feature__heading">Digital Strategy Consulting</h2>
            <p class="feature__paragraph">
                Your digital strategy should complement the overall marketing strategy of the company. In online marketing, each component will never work in isolation and every business 
                needs a different mix. We provide a clear concept and strategic overview to find the most efficient model for your business.
            </p>
            <a href="#" class="btn btn--secondary btn__feature">
                Learn More
            </a>
        </div>
    </article>
</section>