<nav class="nav collapsible">
    <a class="nav__brand" href="/"><img src="./images/Logo.png" alt="" /></a>
    <a class="nav__toggler" href="/"><img src="./images/menu.png" alt="" /></a>

    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item"><a href="#">Services</a></li>
    <li class="nav__item"><a href="#">About Us</a></li>
    <li class="nav__item"><a href="#">Contact us</a></li>
    <li class="nav__item"><a href="#">careers</a></li>
    </ul>
</nav>